<!DOCTYPE html>
<html>
<head>
  <title>Redit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

 <%= button_to "Go to Login", login_path, method: :get, id: "Go to Login" %>
 <% if logged_in? %>
 <h5>You are logged in as <%= current_user.username %></h5>
 <% end %>

  </header>

<%= yield %>

</body>
</html>
